$corDeFundo: rgb(2, 0, 6);
$corDeFundo2: rgb(31, 0, 20);
$corTextoPrincipal: rgb(235, 235, 235);
$corTextoSecundario: rgb(192, 192, 192);
$corDeFundoBotaoPrimario: rgb(0, 16, 107);
$corDeFundoBotaoSecundario: rgb(0, 100, 182);
$corDeBtnFundo: rgb(20, 188, 240);
$corDeBtnFundo2: rgb(185, 0, 121);